@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
}

body{
  font-family:'Outfit', sans-serif ;
  background-color: lightgrey;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.container{
  max-width: 350px;
  margin:0 auto;
}

.box{
  background-color: #ffffff;
  padding: 18px;
  border-radius: 15px;
  text-align: center;
  margin: 0 1rem;

}

.img{
  width: 100%;
  border-radius: 12px;
}

.text{
  padding-top: 10px;
  padding-bottom: 15px;
}

.text h2{
  padding-bottom: 15px;
}

.text p{
 color:gray

}